body{
    background-color:whitesmoke;
    margin:0;
    padding:0;
}
img#Quark1{
    float:left;
   
}
img#Quark2{
    float:right;
  
}
h1{
    text-align:center;
    background-color:blue;
    float:middle;
    margin:0;
    padding:0;
    width:fit-content;
    
}
h2{
    background-color:rgb(226, 102, 19);
    text-align:center;
}
p{
    text-align:center;
    margin:0;
}